@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap");

* {
  font-family: "Big Shoulders Text", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: #273ea1;
  --text-color: #000;
  --bg-color: #fff;
  --container-color: #1e1e2a;
}

.container {
  max-width: 1070px;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f2f0f1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
#menu-icon {
  display: none;
  color: var(--main-color);
  font-size: 30px;
}
.logo {
  font-size: 24px;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
}
.navbar {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.nav-link {
  font-size: 17px;
  font-weight: 700;
  color: var(--main-color);
}
#cart-icon {
  color: var(--main-color);
  font-size: 29px;
  position: relative;
  cursor: pointer;
}
.bx-shopping-bag {
  font-size: 29px;
  color: var(--main-color);
  position: relative;
}
.bx-shopping-bag::after {
  content: attr(data-quantity);
  position: absolute;
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: -18px;
  border-radius: 50%;
  font-weight: 600;
}
.home {
  position: relative;
  background-color: #f2f0f1;
  min-height: 700px;
}
.home-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img {
  max-width: 700px;
  width: 100%;
}
.home-img::before {
  content: "Coloring Style";
  font-size: 144px;
  position: absolute;
  text-align: center;
  color: var(--main-color);
  top: -28px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: -1;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 32px;
}
.product-info {
  display: flex;
  flex-direction: column;
}
.product-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.product-title {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0 8px;
}
.product-price {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-color);
}
.add-to-cart {
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  padding: 10px;
  margin-top: 50px;
  cursor: pointer;
  text-align: center;
}
.heading {
  font-size: 64px;
  text-align: center;
  font-weight: 900;
  margin-top: 40px;
  text-transform: uppercase;
}

.footer {
  background-color: var(--main-color);
  padding: 40px 0;
  margin-top: 18px;
}
.footer-c {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  gap: 16px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-box h2 {
  font-size: 128px;
  color: var(--bg-color);
  text-transform: uppercase;
}
.footer-box h3 {
  margin-top: 10px;
  color: var(--bg-color);
}
.social {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.social .bx {
  background-color: var(--bg-color);
  font-size: 20px;
  padding: 10px;
  color: var(--main-color);
  border-radius: 50%;
}
.footer-box a {
  color: var(--bg-color);
  text-transform: uppercase;
  padding-top: 30px;
}
.copyright {
  color: var(--bg-color);
  padding-top: 30px;
}
.cart-container {
  margin-top: 100px;
}
.back-homepage {
  display: flex;
  align-items: center;
}
.back-homepage .bx {
  font-size: 20px;
  color: var(--text-color);
}
.back-homepage span {
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
}
.shopping-cart {
  margin-top: 32px;
}
.cart-box {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 16px;
  margin-top: 32px;
}
#cartItems {
  display: grid;
  row-gap: 62px;
}
.cart-item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  border-bottom: 1px solid #7f7fcd;
  align-items: center;
  padding-bottom: 10px;
}
.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  object-position: center;
}
.cart-item-title {
  font-size: 18px;
}
.cart-item-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 40px;
  padding: 3px;
  font-size: 18px;
  margin-top: 8px;
  height: 25px;
}
.cart-item-price {
  font-size: 18px;
}
.remove-from-cart {
  max-width: 80px;
  background: crimson;
  border: none;
  outline: none;
  padding: 8px;
  color: var(--bg-color);
  font-weight: 700;
  border-radius: 5px;
}
.cart-t {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#cartTotal {
  font-size: 32px;
  font-weight: 600;
}
.checkout-btn {
  background-color: var(--main-color);
  padding: 10px;
  color: var(--bg-color);
  text-transform: uppercase;
  width: 85px;
  letter-spacing: 1.6px;
}

/* responsive */
@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .home-img::before {
    font-size: 128px;
    top: -35px;
  }
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .cart-container {
    margin-top: 100px;
  }
}
@media (max-width: 910px) {
  .nav {
    padding: 18px 0;
  }
  .home-img::before {
    font-size: 96px;
  }
}
@media (max-width: 720px) {
  .home {
    min-height: 620px;
  }
  .home-img::before {
    font-size: 80px;
  }
  .cart-box {
    grid-template-columns: 1fr;
  }
  .footer-c {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    background-color: #a99fa4;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    left: 0;
    right: 0;
    top: 100%;
    clip-path: circle(0% at 0% 0%);
    transition: 0.6s;
  }
  .nav-link {
    display: block;
    padding: 15px;
  }
  .navbar.open-menu {
    clip-path: circle(145% at 0% 0%);
  }
  .home {
    min-height: 520px;
  }
  .home-img::before {
    font-size: 50px;
  }
  .heading {
    font-size: 40px;
  }
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .product-container {
    grid-template-columns: 1fr;
  }
  .social .bx {
    font-size: 15px;
    padding: 8px;
  }
}
